<!DOCTYPE html>
<html ng-app="tgn-registrations" ng-controller="RegistrationsCtrl">
  <head>
    <title>Transgendergroep Nijmegen Registraties</title>
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" href="lib/bootstrap.css" />
    <link rel="stylesheet" href="lib/bootstrap-toggle.css" />
    <!-- <link rel="stylesheet" href="style.css" /> -->
    <script src="lib/angular.js"></script>
    <script src="lib/firebase.js"></script>
    <script src="lib/angularfire.js"></script>
    <script src="lib/jquery.js"></script>
    <script src="lib/bootstrap.bundle.js"></script>
    <script src="lib/bootstrap-toggle.js"></script>
    <script src="app.js"></script>
  </head>

  <body class="text-justify">
    <div class="card m-3">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" role="tablist">
          <li class="nav-item" role="presentation">
            <a
              class="nav-link active"
              data-toggle="tab"
              href="#events"
              role="tab"
            >
              <b>Activiteiten</b>
            </a>
          </li>
          <li ng-if="!user" class="nav-item" role="presentation">
            <a
              class="nav-link"
              data-toggle="tab"
              href="#register"
              ng-click="assign('form', {})"
              role="tab"
            >
              Registreren
            </a>
          </li>
          <li ng-if="!user" class="nav-item" role="presentation">
            <a
              class="nav-link"
              data-toggle="tab"
              href="#login"
              ng-click="assign('form', {})"
              role="tab"
            >
              Inloggen
            </a>
          </li>
          <li ng-if="user" class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              data-toggle="dropdown"
              href="#"
              role="button"
            >
              Account
            </a>
            <div class="dropdown-menu">
              <a
                class="dropdown-item"
                data-toggle="tab"
                href="#change_info"
                ng-click="assign('form', userInfo)"
              >
                Gegevens wijzigen
              </a>
              <a
                class="dropdown-item"
                data-toggle="tab"
                href="#change_password"
                ng-click="assign('form', {})"
              >
                Wachtwoord wijzigen
              </a>
              <a
                class="dropdown-item"
                data-toggle="tab"
                href="#delete_account"
                ng-click="assign('form', {})"
              >
                Account verwijderen
              </a>
            </div>
          </li>
          <li ng-if="userInfo.admin" class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              data-toggle="dropdown"
              href="#"
              role="button"
            >
              Admin
            </a>
            <div class="dropdown-menu">
              <a
                class="dropdown-item"
                data-toggle="tab"
                href="#admin_signups"
                ng-click="assign('selected_event', null)"
              >
                Inschrijvingen
              </a>
              <a
                class="dropdown-item"
                data-toggle="tab"
                href="#admin_new_event"
                ng-click="assign('form', {})"
              >
                Nieuwe activiteit
              </a>
              <a
                class="dropdown-item"
                data-toggle="tab"
                href="#admin_events"
                ng-click="assign('selected_event', null); assign('edit_event', null);"
              >
                Activiteiten
              </a>
              <a
                class="dropdown-item"
                data-toggle="tab"
                href="#admin_users"
                ng-click="assign('selected_user', null); assign('edit_user', null);"
              >
                Accounts
              </a>
            </div>
          </li>
          <li ng-if="user" class="nav-item" role="presentation">
            <a
              class="nav-link align-bottom"
              href=""
              ng-click="signout()"
              role="tab"
            >
              Uitloggen
              <svg class="bi" width="16" height="16">
                <use
                  xlink:href="lib/bootstrap-icons.svg#arrow-right-square-fill"
                />
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="tab-content">
        <div class="tab-pane active" id="events" role="tabpanel">
          <div class="card-body">
            <div ng-if="!user" class="alert alert-info" role="alert">
              Registreer een account of log in om je in te kunnen schrijven voor
              activiteiten.
            </div>

            <div
              ng-if="user && !user.emailVerified"
              class="alert alert-info"
              role="alert"
            >
              Volg de instructies in de bevestigings-e-mail om de
              accountregistratie af te ronden.
            </div>

            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Datum</th>
                  <th scope="col">Activiteit</th>
                  <th scope="col" style="width: 100%">Inschrijvingen</th>
                  <th
                    ng-if="user.emailVerified"
                    scope="col"
                    class="text-center"
                  >
                    Jij
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  ng-repeat="event in events | orderBy:'date'"
                  ng-if="event.date * 1000 > now"
                  ng-class="{'table-info': event.signups[user.uid]}"
                >
                  <td>{{event.date*1000 | date:"dd/MM/yyyy"}}</td>
                  <td><a href="{{event.link}}">{{event.name}}</a></td>
                  <td>
                    <div class="row">
                      <div class="col-auto pr-1">
                        <span
                          class="badge badge"
                          ng-class="count_event_signups(event) < event.capacity ? 'badge-primary' : 'badge-secondary'"
                          style="width: 5em; float: right; text-align: center"
                          >{{count_event_signups(event)}}/{{event.capacity}}</span
                        >
                      </div>
                      <div class="col pl-1">
                        <div class="progress">
                          <div
                            class="progress-bar"
                            ng-class="count_event_signups(event) < event.capacity ? 'bg-primary' : 'bg-secondary'"
                            role="progressbar"
                            ng-style="{width: (count_event_signups(event) / event.capacity * 100) + '%' }"
                          ></div>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td ng-if="user.emailVerified" class="user-select-none ml-2">
                    <div class="custom-control custom-switch">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        id="customSwitch_{{event.$id}}"
                        ng-model="event.signups[user.uid]"
                        ng-click="set_user_event_status(user.uid, event, $event.target.checked ? true : null)"
                        ng-disabled="count_event_signups(event) >= event.capacity && !event.signups[user.uid]"
                      />
                      <label
                        class="custom-control-label"
                        for="customSwitch_{{event.$id}}"
                      ></label>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="tab-pane" id="register" role="tabpanel">
          <div class="card-body">
            <div class="alert alert-info" role="alert">
              Door het aanmaken van een account geef je ons toestemming om je
              gegevens te bewaren tot je je account verwijderd of maximaal een
              maand na de laatste activiteit waarvoor je was ingeschreven. We
              gebruiken je gegevens uitsluitend voor deze inschrijvingen en om
              zo nodig contact op te nemen in verband met COVID-19.
            </div>
            <div class="alert alert-info" role="alert">
              <p>
                Door je in te schrijven voor een activiteit, en wanneer je een
                activiteit bijwoont, geef je aan dat jouw antwoord op de
                onderstaande vragen 'Nee' is.
              </p>
              <ul>
                <li>
                  Heb je last van Hoesten, Benauwdheidsklachten,
                  Neusverkoudheid, of Koorts van 38 graden of hoger?
                </li>
                <li>
                  Heb je op dit moment een huisgenoot met koorts of
                  benauwdheidsklachten?
                </li>
                <li>Heb je het coronavirus in de afgelopen 7 dagen gehad?</li>
                <li>
                  Ben je in thuisisolatie omdat je in direct contact bent
                  geweest met iemand met het coronavirus?
                </li>
                <li>
                  Heb je een huisgenoot met het coronavirus en heb je de
                  afgelopen 14 dagen contact met hen gehad terwijl de persoon in
                  kwestie nog klachten had?
                </li>
              </ul>
              Je gaat er ook mee akkoord om tijdens de activiteit 1.5 meter
              afstand te houden van andere deelnemers.
            </div>
            <div class="alert alert-info" role="alert">
              Het ingevulde e-mailadres wordt ook je inlognaam.
            </div>
            <form id="registerForm" name="registerForm">
              <div class="row form-group">
                <label class="col-sm-4 col-lg-3 col-xl-2 col-form-label"
                  >E-mailadres</label
                >
                <input
                  type="email"
                  class="col form-control"
                  required
                  ng-model="form.email"
                />
              </div>
              <div class="row form-group">
                <label class="col-sm-4 col-lg-3 col-xl-2 col-form-label"
                  >Wachtwoord</label
                >
                <input
                  type="password"
                  class="col form-control"
                  required
                  ng-model="form.password"
                />
              </div>
              <div class="row form-group">
                <label class="col-sm-4 col-lg-3 col-xl-2 col-form-label"
                  >Volledige naam</label
                >
                <input
                  type="text"
                  class="col form-control"
                  required
                  ng-model="form.name"
                />
              </div>
              <div class="row form-group">
                <label class="col-sm-4 col-lg-3 col-xl-2 col-form-label"
                  >Telefoonnummer</label
                >
                <input
                  type="tel"
                  class="col form-control"
                  required
                  ng-model="form.phone"
                />
              </div>
            </form>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col">
                <input
                  type="submit"
                  form="registerForm"
                  value="Registreren"
                  class="btn btn-primary w-100 h-100"
                  ng-click="register(form)"
                  ng-disabled="working || registerForm.$invalid"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane" id="login" role="tabpanel">
          <div class="card-body">
            <form id="loginForm" name="loginForm">
              <div class="row form-group">
                <label class="col-sm-4 col-lg-3 col-xl-2 col-form-label"
                  >E-mailadres</label
                >
                <input
                  type="email"
                  class="col form-control"
                  required
                  ng-model="form.email"
                />
              </div>
              <div class="row form-group">
                <label class="col-sm-4 col-lg-3 col-xl-2 col-form-label"
                  >Wachtwoord</label
                >
                <input
                  type="password"
                  class="col form-control"
                  required
                  ng-model="form.password"
                />
              </div>
            </form>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col">
                <input
                  type="submit"
                  form="loginForm"
                  value="Inloggen"
                  class="btn btn-primary w-100 h-100"
                  ng-click="signin(form)"
                  ng-disabled="working || loginForm.$invalid"
                />
              </div>
              <div class="col">
                <button
                  type="button"
                  class="btn btn-warning w-100 h-100"
                  ng-click="forgotpassword(form)"
                >
                  Wachtwoord vergeten?
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane" id="change_info" role="tabpanel">
          <div class="card-body">
            <h5>Gegevens wijzigen</h5>
            <div class="alert alert-info" role="alert">
              Het ingevulde e-mailadres wordt ook je inlognaam.
            </div>
            <form id="setInfoForm" name="setInfoForm">
              <div class="row form-group">
                <label class="col-sm-4 col-lg-3 col-xl-2 col-form-label"
                  >E-mailadres</label
                >
                <input
                  type="email"
                  class="col form-control"
                  required
                  ng-model="form.email"
                />
              </div>
              <div class="row form-group">
                <label class="col-sm-4 col-lg-3 col-xl-2 col-form-label"
                  >Volledige naam</label
                >
                <input
                  type="text"
                  class="col form-control"
                  required
                  ng-model="form.name"
                />
              </div>
              <div class="row form-group">
                <label class="col-sm-4 col-lg-3 col-xl-2 col-form-label"
                  >Telefoonnummer</label
                >
                <input
                  type="tel"
                  class="col form-control"
                  required
                  ng-model="form.phone"
                />
              </div>
              <div class="row form-group">
                <label class="col-sm-4 col-lg-3 col-xl-2 col-form-label"
                  >Huidig wachtwoord</label
                >
                <input
                  type="password"
                  class="col form-control"
                  required
                  ng-model="form.password"
                />
              </div>
            </form>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col">
                <input
                  type="submit"
                  form="setInfoForm"
                  value="Wijzigingen opslaan"
                  class="btn btn-primary w-100 h-100"
                  ng-click="setinfo(form)"
                  ng-disabled="working || setInfoForm.$invalid"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane" id="change_password" role="tabpanel">
          <div class="card-body">
            <h5>Wachtwoord wijzigen</h5>
            <form id="setPasswordForm" name="setPasswordForm">
              <div class="row form-group">
                <label class="col-sm-4 col-lg-3 col-xl-2 col-form-label"
                  >Huidig wachtwoord</label
                >
                <input
                  type="password"
                  class="col form-control"
                  required
                  ng-model="form.password.old"
                />
              </div>
              <div class="row form-group">
                <label class="col-sm-4 col-lg-3 col-xl-2 col-form-label"
                  >Nieuw wachtwoord</label
                >
                <input
                  type="password"
                  class="col form-control"
                  required
                  ng-model="form.password.new"
                />
              </div>
            </form>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col">
                <input
                  type="submit"
                  form="setPasswordForm"
                  value="Nieuw wachtwoord opslaan"
                  class="btn btn-primary w-100 h-100"
                  ng-click="setpassword(form)"
                  ng-disabled="working || setPasswordForm.$invalid"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane" id="delete_account" role="tabpanel">
          <div class="card-body">
            <h5>Account verwijderen</h5>
            <div class="alert alert-danger" role="alert">
              Weet je zeker dat je je account wilt verwijderen? Dit kan niet
              ongedaan worden gemaakt. Eventuele inschrijvingen voor
              activiteiten worden verwijderd.
            </div>
            <form id="deleteAccountForm" name="deleteAccountForm">
              <div class="row form-group">
                <label class="col-sm-4 col-lg-3 col-xl-2 col-form-label"
                  >Wachtwoord</label
                >
                <input
                  type="password"
                  class="col form-control"
                  required
                  ng-model="form.password"
                />
              </div>
            </form>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col">
                <input
                  type="submit"
                  form="deleteAccountForm"
                  value="Account verwijderen"
                  class="btn btn-primary w-100 h-100"
                  ng-click="deleteaccount(form)"
                  ng-disabled="working || deleteAccountForm.$invalid"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane" id="admin_signups" role="tabpanel">
          <div class="card-body">
            <h5>Inschrijvingen</h5>
            <select
              class="custom-select"
              ng-model="selected_event"
              ng-options="eventListName(event) for event in events | orderBy:'date'"
            >
              <option value="" disabled selected>
                Selecteer een activiteit
              </option>
            </select>
            <div ng-if="selected_event">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Naam</th>
                    <th scope="col">E-mailadres</th>
                    <th scope="col">Telefoonnummer</th>
                    <th scope="col">Uitschrijven</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="(uid, bool) in selected_event.signups">
                    <th scope="row">1</th>
                    <td>{{users[uid].name}}</td>
                    <td>{{users[uid].email}}</td>
                    <td>{{users[uid].phone}}</td>
                    <td>
                      <a
                        href=""
                        ng-click="set_user_event_status(uid, selected_event, null)"
                      >
                        <svg class="bi text-danger" width="16" height="16">
                          <use
                            xlink:href="lib/bootstrap-icons.svg#x-square-fill"
                          />
                        </svg>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="row">
                <div class="col">
                  <form>
                    <select
                      class="custom-select"
                      ng-model="selected_user"
                      ng-options="user as user.name+' ('+user.email+')' for user in usersArray | orderBy:'name'"
                    >
                      <option value="" disabled selected>
                        Selecteer een account
                      </option>
                    </select>
                  </form>
                </div>
                <div class="col">
                  <button
                    type="button"
                    class="btn btn-primary w-100 h-100"
                    ng-click="set_user_event_status(selected_user.$id, selected_event, true)"
                    ng-disabled="!selected_user"
                  >
                    Account inschrijven
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane" id="admin_new_event" role="tabpanel">
          <div class="card-body">
            <h5>Nieuwe activiteit</h5>
            <form id="newEventForm" name="newEventForm">
              <div class="row form-group">
                <label class="col-sm-4 col-lg-3 col-xl-2 col-form-label"
                  >Datum</label
                >
                <input
                  type="datetime-local"
                  class="col form-control"
                  required
                  ng-model="form.date"
                  bind-timestamp
                />
              </div>
              <div class="row form-group">
                <label class="col-sm-4 col-lg-3 col-xl-2 col-form-label"
                  >Naam</label
                >
                <input
                  type="text"
                  class="col form-control"
                  required
                  ng-model="form.name"
                />
              </div>
              <div class="row form-group">
                <label class="col-sm-4 col-lg-3 col-xl-2 col-form-label"
                  >Link</label
                >
                <input
                  type="text"
                  class="col form-control"
                  required
                  ng-model="form.link"
                />
              </div>
              <div class="row form-group">
                <label class="col-sm-4 col-lg-3 col-xl-2 col-form-label"
                  >Capaciteit</label
                >
                <input
                  type="number"
                  pattern="\d*"
                  min="1"
                  class="col form-control"
                  required
                  ng-model="form.capacity"
                />
              </div>
            </form>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col">
                <input
                  type="submit"
                  form="newEventForm"
                  value="Activiteit aanmaken"
                  class="btn btn-primary w-100 h-100"
                  ng-click="newevent(form)"
                  ng-disabled="working || newEventForm.$invalid"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane" id="admin_events" role="tabpanel">
          <div class="card-body">
            <h5>Activiteiten</h5>
            <form>
              <select
                class="custom-select"
                ng-model="selected_event"
                ng-options="eventListName(event) for event in events | orderBy:'date'"
                ng-change="edit_event = copy(selected_event)"
              >
                <option value="" disabled selected>
                  Selecteer een activiteit
                </option>
              </select>
            </form>
            <div ng-if="edit_event" class="mt-3">
              <form id="editEventForm" name="editEventForm">
                <div class="row form-group">
                  <label class="col-sm-4 col-lg-3 col-xl-2 col-form-label"
                    >Datum</label
                  >
                  <input
                    type="datetime-local"
                    class="col form-control"
                    required
                    ng-model="edit_event.date"
                    bind-timestamp
                  />
                </div>
                <div class="row form-group">
                  <label class="col-sm-4 col-lg-3 col-xl-2 col-form-label"
                    >Naam</label
                  >
                  <input
                    type="text"
                    class="col form-control"
                    required
                    ng-model="edit_event.name"
                  />
                </div>
                <div class="row form-group">
                  <label class="col-sm-4 col-lg-3 col-xl-2 col-form-label"
                    >Link</label
                  >
                  <input
                    type="text"
                    class="col form-control"
                    required
                    ng-model="edit_event.link"
                  />
                </div>
                <div class="row form-group">
                  <label class="col-sm-4 col-lg-3 col-xl-2 col-form-label"
                    >Capaciteit</label
                  >
                  <input
                    type="number"
                    pattern="\d*"
                    min="1"
                    class="col form-control"
                    required
                    ng-model="edit_event.capacity"
                  />
                </div>
              </form>
            </div>
          </div>
          <div ng-if="edit_event" class="card-footer">
            <div class="row">
              <div class="col">
                <input
                  type="submit"
                  form="editEventForm"
                  value="Wijzigingen opslaan"
                  class="btn btn-primary w-100 h-100"
                  ng-click="editevent(edit_event)"
                  ng-disabled="working || editEventForm.$invalid"
                />
              </div>
              <div class="col">
                <button
                  type="button"
                  class="btn btn-danger w-100 h-100"
                  ng-click="deleteevent(selected_event)"
                >
                  Activiteit verwijderen
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane" id="admin_users" role="tabpanel">
          <div class="card-body">
            <h5>Accounts</h5>
            <form>
              <select
                class="custom-select"
                ng-model="selected_user"
                ng-options="user as user.name+' ('+user.email+')' for user in usersArray | orderBy:'name'"
                ng-change="edit_user = copy(selected_user)"
              >
                <option value="" disabled selected>
                  Selecteer een account
                </option>
              </select>
            </form>
            <div ng-if="selected_user" class="mt-3">
              <form id="editAccountForm" name="editAccountForm">
                <div class="row form-group">
                  <label class="col-sm-4 col-lg-3 col-xl-2 col-form-label"
                    >Volledige naam</label
                  >
                  <input
                    type="text"
                    class="col form-control"
                    required
                    ng-model="edit_user.name"
                  />
                </div>
                <div class="row form-group">
                  <label class="col-sm-4 col-lg-3 col-xl-2 col-form-label"
                    >Telefoonnummer</label
                  >
                  <input
                    type="tel"
                    class="col form-control"
                    required
                    ng-model="edit_user.phone"
                  />
                </div>
                <div class="row form-group">
                  <label class="col-sm-4 col-lg-3 col-xl-2 col-form-label"
                    >Admin</label
                  >
                  <input
                    type="checkbox"
                    class="col form-control"
                    ng-model="edit_user.admin"
                  />
                </div>
              </form>
            </div>
          </div>
          <div ng-if="edit_user" class="card-footer">
            <div class="row">
              <div class="col">
                <input
                  type="submit"
                  form="editAccountForm"
                  value="Wijzigingen opslaan"
                  class="btn btn-primary w-100 h-100"
                  ng-click="edituser(edit_user)"
                  ng-disabled="working || editAccountForm.$invalid"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="toast"
      style="
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 0;
      "
      role="alert"
      data-delay="5000"
    >
      <div class="toast-header">
        <strong class="mr-auto text-left">{{toast_text}}</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </body>
</html>
